langchain
python-dotenv
ipykernel
langchain_groq
langchain_google_genai
langchain_community
langchain-text-splitters
pydantic
faiss-cpu
structlog
PyMuPDF
pypdf
docx2txt
pandas
streamlit
streamlit-chat
python-multipart
jinja2
pytest
httpx
fastapi
uvicorn[standard]
-e .